<div class="wrapper">
  <div class="inside">
    <h1>Murmur</h1>
    <p>
      140字で伝えられることがあるでしょうか？
      <br>歌でもなく、写真でもなく、映像でもなく
      <br>あなたが伝えたいことを書いてみましょう。
    </p>
    <br>
    <%= link_to 'つぶやく', new_murmur_path, class:'btn btn-info' %>
  </div>
</div>